<h1>Tweets#show</h1>

<p>ツイート内容：<%=  @tweet.body %></p>

<p>user:<%=  @user.email %></p>

<p>お気に入り数<%= @favorites.count %></p>


<%= form_with model:([@tweet, @comment]) do |f| %>
  <p>
    <%= f.label :body,"コメント" %>
    <%= f.text_field :body %>
  </p>
  <%= f.submit %>
<% end %>

<% @comments.each do |comment| %>
  <hr>
  <p><span>email: </span><%=link_to comment.user.email, user_path(comment.user.id) %></p>
  <p><span>コメント内容: </span><%= comment.body %></p>
<% end %>