<h1>Tweets#show</h1>

<p>ツイート内容：<%=  @tweet.body %></p>

<p>user:<%=  @user.email %></p>

<p>お気に入り数<%= @favorites.count %></p>

<%= form_with model:[@tweet, @comment] do |f| %>
  <p>
    <%= f.label :body,"コメント" %>
    <%= f.text_field :body %>
  </p>
   <%= f.submit %>
<% end %>


<% @comments.each do |comment| %>
<%# email %>
<p><%= comment.user.email %></p>
<%# comment %>
<p><%= comment.body %></p>

<%= button_to "削除", tweet_comment_path(@tweet, comment), method: :delete %>
<% end %>

